<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Relatorio de dados DNS Atlas Ripe</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
    <div align="center">
    	<h1>Topicos em Ciencia da Computacao 2022</h1>
		<p>Primera Parte</p>
	    <div>
	        <input type="button" value="Parte 1" onclick="window.location='/report';">
	    </div>
	    <p>Segunda Parte</p>
	    <div>
	        <input type="button" value="Parte 2" onclick="window.location='/prob';">
	    </div>
    </div>
</body>
</html>