<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<style>
       .container .box {
          display:table;
       }
       .container .box .box-row {
           display:table-row;
        }
       .container .box .box-cell {
           display:table-cell;
           width:25%;
           padding:10px;
       }
	</style>
	<meta charset="ISO-8859-1">
	<title>Relatorio de dados DNS Atlas Ripe</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
    <div align="center">
    	<h1>Relatorio de dados DNS Atlas Ripe</h1>
        <h2>Trabalho II - DNS parte 2</h2>
        <p>Os dados correspondem em ate 5 minutos apos o horario escolhido!</p>
        <form>
		    <div>
		    	<label for="rootServer">Root Server:</label>
		        <select id="rootServer">
				    <option value="a">A</option>
				    <option value="b">B</option>
				    <option value="c">C</option>
				    <option value="d">D</option>
				    <option value="e">E</option>
				    <option value="f">F</option>
				    <option value="g">G</option>
				    <option value="h">H</option>
				    <option value="i">I</option>
				    <option value="j">J</option>
				    <option value="k">K</option>
				    <option value="l">L</option>
				    <option value="m">M</option>
				</select>
		    </div>
		    <div>    
		        <label for="initialDate">Date para calculo:</label>
		        <input type="datetime-local" id="initialDate"/>
		    </div>
		    <div>
		        <input type="button" value="Calcular" onclick="mountReport()">
		    </div>
		</form>
	</div>
    <div class="container">
    	<div class="box">
    		<div class="box-row">
    			<div class="box-cell box1" id="piechartipv4"></div>
    			<div class="box-cell box2" id="piechartipv6"></div>
    		</div>
    	</div>
    </div>
    <div class="container">
    	<div class="box">
    		<div class="box-row">
    			<div class="box-cell box1_2" id="piechartipv4_2"></div>
    			<div class="box-cell box2_2" id="piechartipv6_2"></div>
    		</div>
    	</div>
    </div>
    <div class="container">
    	<div class="box">
    		<div class="box-row">
    			<div class="box-cell box2_3" id="piechartipv4_3"></div>
    			<div class="box-cell box2_3" id="piechartipv6_3"></div>
    		</div>
    	</div>
    </div>
    <script>
    
	    google.charts.load('current', {'packages':['corechart']});
	    
	    function drawChartIpv4( infos ) {

	        var data = new google.visualization.DataTable();
	        data.addColumn('string', 'Topping');
	        data.addColumn('number', 'Slices');
	        data.addRows([
	            ['Conecta em outros paises IPV4', infos.percentOtherContriesIPV4],
	            ['Conecta no mesmo pais IPV4', infos.percentSameContriesIPV4]
	        ]);

	        var options = {'title':'IPV4',
	            'width':600,
	            'height':400};

	        var chart = new google.visualization.PieChart(document.getElementById('piechartipv4'));
	        chart.draw(data, options);
	    }
	    
	    function drawChartIpv6( infos ) {

	        var data = new google.visualization.DataTable();
	        data.addColumn('string', 'Topping');
	        data.addColumn('number', 'Slices');
	        data.addRows([
	            ['Conecta em outros paises IPV6', infos.percentOtherContriesIPV6],
	            ['Conecta no mesmo pais IPV6', infos.percentSameContriesIPV6]
	        ]);

	        var options = {'title':'IPV6',
	            'width':600,
	            'height':400};

	        var chart = new google.visualization.PieChart(document.getElementById('piechartipv6'));
	        chart.draw(data, options);
	    }
	    
	    function drawChartIpv4_2( infos ) {

	        var data = new google.visualization.DataTable();
	        data.addColumn('string', 'Topping');
	        data.addColumn('number', 'Slices');
	        data.addRows([
	            ['Conecta em outros paises IPV4', infos.percentrootServerOthersIPV4],
	            ['Conecta no mesmo pais IPV4', infos.percentrootServerSameIPV4]
	        ]);

	        var options = {'title':'Se conectam em paises diferentes quando usando IPv4',
	            'width':600,
	            'height':400};

	        var chart = new google.visualization.PieChart(document.getElementById('piechartipv4_2'));
	        chart.draw(data, options);
	    }
	    
	    function drawChartIpv6_2( infos ) {

	        var data = new google.visualization.DataTable();
	        data.addColumn('string', 'Topping');
	        data.addColumn('number', 'Slices');
	        data.addRows([
	            ['Conecta em outros paises IPV6', infos.percentrootServerOthersIPV6],
	            ['Conecta no mesmo pais IPV6', infos.percentrootServerSameIPV6]
	        ]);

	        var options = {'title':'Se conectam em paises diferentes quando usando IPv6',
	            'width':600,
	            'height':400};

	        var chart = new google.visualization.PieChart(document.getElementById('piechartipv6_2'));
	        chart.draw(data, options);
	    }
	    
	    function drawChartIpv4_3( infos ) {

	        var data = new google.visualization.DataTable();
	        data.addColumn('string', 'Topping');
	        data.addColumn('number', 'Slices');
	        data.addRows([
	            ['Conecta em outros paises IPV4', infos.percentOthersIPV4],
	            ['Conecta no mesmo pais IPV4', infos.percentSameIPV4]
	        ]);

	        var options = {'title':'Conecta em paises diferentes dependendo da versao do protocolo IP (IPV4)',
	            'width':600,
	            'height':400};

	        var chart = new google.visualization.PieChart(document.getElementById('piechartipv4_3'));
	        chart.draw(data, options);
	    }
	    
	    function drawChartIpv6_3( infos ) {

	        var data = new google.visualization.DataTable();
	        data.addColumn('string', 'Topping');
	        data.addColumn('number', 'Slices');
	        data.addRows([
	            ['Conecta em outros paises IPV6', infos.percentOthersIPV6],
	            ['Conecta no mesmo pais IPV6', infos.percentSameIPV6]
	        ]);

	        var options = {'title':'Conecta em paises diferentes dependendo da versao do protocolo IP (IPV6)',
	            'width':600,
	            'height':400};

	        var chart = new google.visualization.PieChart(document.getElementById('piechartipv6_3'));
	        chart.draw(data, options);
	    }

	    function mountReport() {
	    	
	    	var initialdate = window.document.getElementById('initialDate');
	    	var rootServer = window.document.getElementById('rootServer');
	    	
	    	getJSON('http://localhost:8180/rootServers/prob/' + rootServer.value +'/' + initialdate.value ,
    			function(err, data) {
    			  if (err !== null) {
    			    alert('Erro ao processar os dados');
    			  } else {
    				  drawChartIpv4(data);
    				  drawChartIpv6(data);
    				  drawChartIpv4_2(data);
    				  drawChartIpv6_2(data);
    				  drawChartIpv4_3(data);
    				  drawChartIpv6_3(data);
    			  }
    			});
	    }

		var getJSON = function(url, callback) {
		    var xhr = new XMLHttpRequest();
		    xhr.open('GET', url, true);
		    xhr.responseType = 'json';
		    xhr.onload = function() {
		      var status = xhr.status;
		      if (status === 200) {
		        callback(null, xhr.response);
		      } else {
		        callback(status, xhr.response);
		      }
		    };
		    xhr.send();
		};
	
	</script>
</body>
</html>